body {background-color:tomato;
Color: white;

}
h1 {
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 48vh; 
    font-size: 200px;
}
a{
    color: white;
    text-decoration: none;
    border-bottom: 5px solid;
    
}
a:hover{
    color: black;
    border-bottom-color: black;
}
