html{
    font-size; 16px;
}
body{
    background-color: #f8eee7;
}
div{
    width:40vw;
    margin: 100px auto;
}
h1{
    font-family: 'Rock Salt', cursive;
    font-size: 4em;
}

h2{
    font-family: 'Rock Salt', cursive;
    font-size: 3em;
}
h3{
    font-family: 'Rock Salt', cursive;
    font-size: 2em;
}
h4{
    font-family: 'Rock Salt', cursive;
    font-size: 1.5em;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}
.intro {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
}