*{
    box-sizing: border-box;
}
body {
    margin: 0;
}

div{
    float: left;
}

.in, .serve, .side {
    background-color: red;
    border: 4px solid white;
}

#court{
    width: 400px;
    margin: calc((100vh -600px) / 2);
    float: none;
}
.middle {
    width: 300px;
}

.side {
    width: 50px;
    height: 400px;
    
}

.serve {
    width: 300px;
    height: 150px;
    
}

.in {
    width: 150px;
    height: 250px;
    
}
